* {
font-family: 'Gowun Dodum', sans-serif;
}

.wrap {
    width: 300px;
    margin: auto;
}

.mytitle {

    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mytitle > button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 10px;
}

.mytitle > botton :hover {
    border: 2px solid white;
}

.mycomment {
    color: gray;
}

.wrap {
    width: 1200px;
    margin: 20px auto 0px auto;
}